<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YQSpeedometer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>211B32DD1D4AF0BF0038AF48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>211B32F61D4AF0C10038AF48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>211B33011D4AF0C10038AF48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
